:root{
    --color-primary:#3A3054;
    --color-secondary:#2BD0D0;
    --color-hover:#9ae3e3;
    --color-tertiary:#4B3F6B;
    --color-bg:#EFF1F7;
    --color-text-light:#9E9AA8;
    --color-text-dark:#34313D;
    --color-danger:#F46363;

    --font-poppins-medium:"poppins medium",sans-serif;
    --font-poppins-bold:"poppins bold",sans-serif;
    --font-poppins-meduimItalic:"poppins medium italic",sans-serif;
}

.o-container{
    width: 1108px;
    margin: 0 auto;
}
.o-round-btn{
   text-transform: capitalize;
   background-color: var(--color-secondary);
   border-radius: 28px;
   color: #ffffff;
   padding: 14px 40px;
   display: inline-block;
   transition: all 0.3s;
}
.o-round-btn:hover{
    background-color: var(--color-hover);
    cursor: pointer;
}
.o-title{
    color: var(--color-text-dark);
    font-family: var(--font-poppins-bold);
}
.o-caption{
    color: var(--color-text-light);
    font-family: var(--font-poppins-medium);
}
.o-section{
    padding-bottom: 80px;
}
.u-d-flex{
    display: flex;
}
.u-d-none{
    display: none;
}
.u-d-block{
    display: block;
}
.u-ai-center{
    align-items: center;
}
.u-ai-baseline{
    align-items: baseline;
}
.u-flex-wrap{
    flex-wrap: wrap;
}
.u-tt-capitalize{
    text-transform: capitalize;
}
.u-full-width{
    width: 100%;
}
.u-text-center{
    text-align: center;
}
.u-gap-30{
    gap: 30px;
}
.u-br-10{
    border-radius: 10px;
}
.u-br-5{
    border-radius: 5px;
}
.u-fs-15{
    font-size: 0.93rem;
}
.u-transition-3{
    transition: all 0.3s ease-in-out;
}
.u-jc-spacebetween{
    justify-content: space-between;
}
.u-jc-center{
    justify-content:center;
}
.u-p-relative{
    position: relative;
}
body{
    color: var(--color-text-light);
    font-family: var(--font-poppins-bold);
}

/* ------------------ start header -------------------- */
.c-header{
   padding-top:48px;
}
.c-main-menu{
    gap:30px
}
.c-logo{
    margin-right: 45px;
}
.c-sign-up{
    padding: 10px 23px;
}
.c-header-nav__item:hover{
    color: var(--color-text-dark);
}
.c-menu-wrapper{
    flex-grow: 1;
}
.c-header-content{
    margin-top: 78px;
    padding-bottom: 220px;
}
.c-header-content__box{
    width: 55%;
    padding-top:60px;
}
.c-header-content__title{
    line-height: 90px;
    letter-spacing: -2px;
    font-size: 5rem;
}
.c-header-content__caption{
    line-height: 36px;
    letter-spacing: 0.15px;
    font-size: 1.37rem;
    margin: 5px 0 38px 0;
}
.c-header-content__img-box{
    width: 40%;
}
.c-header-content__img{
    max-width: 170%;
}
/* ------------------- main section ----------------- */
.c-main{
    background-color: var(--color-bg);
}
.c-shortner{
    /* height: 168px; */
    background: url(../images/Path\ 2.png) center/cover no-repeat;
    transform: translateY(-50%);
    padding: 52px 64px;
}
.c-shortner__wrapper{
      gap:24px;
}

.c-shortner__input{
    height: 64px;
    flex-grow: 1;
    padding: 14px 32px;
    font-family: var(--font-poppins-medium);
    font-size: 1.25rem;
    line-height: 36px;
    letter-spacing: 0.15px;
    transition: all 0.3s;
    border:3px solid transparent
}
.c-shortner__btn{
    height: 64px;
}
.c-shortner__message{
    height: 20px;
    display: inline-block;
    font-family: var(--font-poppins-meduimItalic);
    color: var(--color-danger);
    margin-top: 8px;
    font-size: 1rem;
    transition: all 0.3s;
}
.c-shortner__input.js-invalid{
    border: 3px solid var(--color-danger);
}
.js-invalid.c-shortner__input::placeholder{
color: var(--color-danger);
opacity: 50%;
}
.c-shortend-item{
    background-color: #ffffff;
    padding: 18px 32px;
    transform: translateY(-50%);
    font-size: 1.25rem;
    line-height: 36px;
    gap: 24px;
    margin-bottom: 16px;
    animation: show 0.5s;
}
@keyframes show {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible
    }
}
.c-shortend-item__link{
    font-family: var(--font-poppins-medium);
    color: var(--color-text-dark);
    margin-right: auto;
}
.c-shorted-item__short-link{
    font-family: var(--font-poppins-medium);
    color: var(--color-secondary);
}
.c-shorted-item__copy{
    transition: all 0.3s;
    display: block;
}
.c-shorted-item__copy.click{
  background-color: var(--color-primary);
}

/* --------------------------- statistics section --------------------- */

.c-statistics-section__title{
    line-height: 48px;
    font-size: 2.5rem;
    letter-spacing: -1px;
    margin-bottom: 18px;
}
.c-statistics-section__caption{
    max-width: 540px;
    margin: 0 auto;
    line-height: 32px;
}
.c-statistics-sextion__wrapper{
    margin-top: 100px;
    gap: 30px;
    min-height: 399px;
    align-items: flex-start;
}
.c-statistics-sextion__wrapper::before{
    content: " ";
    width: 100%;
    height: 8px;
    background-color: var(--color-secondary);
    position: absolute;
    z-index: 1;
    top:36%
}
.c-statistics-box{
    background-color: #ffffff;
    padding:77px 32px 32px 32px;
    position: relative;
    z-index: 2;
}
.c-statistics-box::before{
    content: " ";
    display: block;
    position: absolute;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--color-primary);
    top:-44px;
    left: 32px;

}
.c-statistics-box__title{
    font-size: 1.37rem;
    margin-bottom: 12px;
}
.c-statistics-box__caption{
    line-height: 26px;
}
.c-box-one{
    align-self: flex-start;
}
.c-box-two{
   margin-top: 44px;
}
.c-box-three{
    margin-top: 88px;
}
.c-box-one::before{
    background: var(--color-primary) url(../images/st1.svg) center no-repeat;
}
.c-box-two::before{
    background: var(--color-primary) url(../images/st2.svg) center no-repeat;
}
.c-box-three::before{
    background: var(--color-primary) url(../images/st3.svg) center no-repeat;
}
/* ----------------------------- start section ------------------ */
.c-start-section{
    background: url(../images/start-background.svg) center/cover no-repeat;
    padding: 57px 0;
}
.c-start-section__title{
    color: #ffffff;
    line-height: 48px;
    font-size: 40px;
    letter-spacing: -1px;
     margin-bottom: 32px;
}
/* ------------------------- footer ---------------- */
.c-footer{
    padding: 70px 0;
    background-color:#232127;
    color: #ffffff;
}
.c-footer__container{

   flex-wrap: wrap;
   gap:80px;
}
.c-logo-container{
    flex-grow: 1;
}
.c-logo__img{
    max-width: 120px;
}
.c-footer__title{
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 22px;
}
.c-footer__menu-item{
    font-size: 0.93rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.c-social-medias{
    gap:24px;
    justify-content: flex-end;
}
.c-social-medias__item{
    font-size: 24px;
}
.c-footer__links-wrapper{
    justify-content: space-between;
    gap:80px;
}

