@font-face {
    font-family: "poppins bold";
    src: url(../fonts/Poppins-Bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: "poppins medium";
    src: url(../fonts/Poppins-Medium.ttf);
    font-style: normal;
}